<!-- <p>home works</p> -->

<div class="container">
  <h1>Favorite authors</h1>
  <u><a [routerLink]="['/create']">Add an Author</a></u>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Authors</th>
        <th scope="col">Actions Available</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let author of authors; let idx = index">
        <th scope="row">{{author.name}}</th>
        <td>
            <a [routerLink]="['/edit/' + author._id]" class="btn btn-warning">Edit</a>
            <a (click)="deleteAuthor(author._id)" class="text-primary btn btn-outline-danger ml-2">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
